* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}

ul,
li,
ol {
  list-style: none;
}

header {
  width: 100%;
  height: 60px;
  border-bottom: 1px solid #ccc;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
  margin-bottom: 24px;
}

.nav {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.nav-item {
  margin-right: 12px;
}

.nav-item > a {
  padding: 6px 12px;
  text-decoration: none;
  color: #333;
  font-size: 18px;
  font-weight: 800;
  transition: all 0.3s ease-in-out;
  border-radius: 4px;
}

.nav-item > a:hover {
  color: #fff;
  background-color: #666;
  box-shadow: 0 0 6px rgba(0, 0, 255, 0.4);
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  height: 40px;
  width: 100%;
  border: 1px solid #ccc;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
}

.productList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.productList .product-card {
  width: 300px;
  max-width: 100%;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin: 12px;
}

.productList .product-card > img {
  width: 100%;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  margin-bottom: 12px;
  height: 140px;
}

.productList .product-card > .product-infor {
  padding: 0 12px 12px;
}

.productList .product-infor > h3 {
  font-size: 18px;
  font-weight: 800;
  margin-bottom: 12px;
}

.productList .product-infor > p {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 12px;
  color: red;
}

form {
  width: 400px;
  max-width: 100%;
  margin: 0 auto;
  padding: 24px;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
}

#productDetail img {
  width: 100%;
}
/* // "server":"json-server --watch db.json -m ./node_modules/json-server-auth --port 3000",
// "start": "concurrently \"json-server --watch db.json -m ./node_modules/json-server-auth --port 3000\" \"npm run dev\"" */